name: Rust

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: Jimver/cuda-toolkit@v0.2.29
      id: cuda-toolkit
      with:
        cuda: '12.5.0'

    - run: echo "Installed cuda version is: ${{steps.cuda-toolkit.outputs.cuda}}"

    - run: echo "Cuda install location: ${{steps.cuda-toolkit.outputs.CUDA_PATH}}"

    - run: nvcc -V
           
    - name: Build
      run: cargo build --verbose
    - name: Run tests
      run: cargo test --verbose
