name: Rust

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Install CUDA Toolkit
      run: sudo apt-get update
           sudo apt-get install -y nvidia-cuda-toolkit
           echo "export CUDA_HOME=/usr/local/cuda" >> $GITHUB_ENV
           echo "export PATH=/usr/local/cuda/bin:$PATH" >> $GITHUB_ENV
           echo "export LD_LIBRARY_PATH=/usr/local/cuda/lib64:$LD_LIBRARY_PATH" >> $GITHUB_ENV
    - name: Build
      run: cargo build --verbose
    - name: Run tests
      run: cargo test --verbose
